main{
    margin-top: 150px;
    text-align: center;
    #main--logo {
        width: 530px;
        margin: 0 auto;
        margin-bottom: 35px;
        img {
          width: 350px;
        }
      }
      
      #main--input {
        width: 530px;
        margin: 0 auto;
        margin-bottom: 35px;
        &__container {
          width: 525px;
          border-radius: 100px;
          border: 1px solid #dfe1e5;
          display: flex;
          justify-content: center;
          align-items: center;
          input {
            width: 450px;
            height: 40px;
            border: none;
            outline: none;
          }
          #search--icon {
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 18px;
            height: 18px;
          }
          #micro--icon {
            background-image: url("https://www.freepngimg.com/thumb/microphone/70666-voice-microphone-google-search-logo-png-file-hd.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 18px;
            height: 18px;
            cursor: pointer;
          }
        }
        &__container:hover {
          box-shadow: 0 1px 6px 0 #20212447;
          border-color: #dfe1e500;
        }
      }
      
      #main--buttons {
        width: 530px;
        margin: 0 auto;
        div {
          display: inline-block;
        }
        button {
          height: 36px;
          background-color: #f2f2f2;
          border: 0;
          font-size: 14px;
          color: #5f6368;
          border-radius: 5px;
          padding: 0 15px;
          margin-left: 10px;
          margin-right: 10px;
          cursor: pointer;
        }
        button:hover {
          border: 1px solid #c6c6c6;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          color: #222;
        }
        button:focus {
          border: 1px solid #4d90fe;
          outline: none;
        }
      }
      
}


